.app-layout {
  display: flex;
  position: relative;
  flex-direction: column;
  background: transparent;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

/* для dashboard — высокий header */
.app-layout.app-layout--dashboard .app-content {
  margin-top: 180px; /* высота HeaderDashboard */
}

/* для обычного header */
.app-layout:not(.app-layout--dashboard) .app-content {
  margin-top: 5.5rem; /* высота HeaderSimple (fixed) */
}

.app-content {
  flex: 1;
  box-sizing: border-box;
  margin-bottom: 5rem; /* высота Navigation */
  width: 100%;
  overflow-y: auto;
}
